@charset "utf-8";
@import "_var", "_mixin", "_function";

#skip {
  a {
    position: absolute;
    top: 0;
    top: -9999px;
    z-index: 1000;
    @include transition (all 0.3s);

    &:focus {
      top: 0;
      width: 100%;
      color: #fff;
      background: $midnight;
      text-align: center;
      letter-spacing: 1.5px;
    }
  }
}

.headerTop,
.headerBtm {
  position: absolute;
  /* TODO: 모달 dim이 열리면 아래로 가야 함 */

  @include flex;
  @include justify-content(space-between);
}

.headerBtm {
  bottom: 0;
  z-index: 2;
}

.headerTop {
  top: 0;
  right: 0;
  z-index: 4;

  .logo a {

    background: url(../images/header_logo.png) no-repeat 100% center/contain;

    /* transition: transform 1.2s ease opacity 0.3s; */
  }
}

.search {

  .btn_open {
    position: relative;

    &::after {
      content: "";
      position: absolute;

      background: url(../images/SVG/search.svg) no-repeat 100% / contain;
      opacity: 0.95;
      transition: all ease-in .4s
    }

    &:hover::after,
    &:focus::after {
      transform: scale(1.3, 1.3)
    }
  }

  &.on {
    /* on이 되면 스크롤 금지 */

    .search_slide_out {
      @include placeholder {
        color: #fff;
        opacity: 1;
      }

      @include flex-flow(column);
      @include justify-content;
      @include transition (all 0.5s);

      h2 {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        color: white;
      }

      /*  */
      .top {
        border: 1px solid rgba(255, 255, 255, 0.5);
        position: relative;
        font-weight: 400;
        box-sizing: border-box;


        label {

          position: absolute;
          color: #fff;

          &.typing {
            animation: typing 3s steps(22), blink .5s step-end infinite alternate;
            white-space: nowrap;
            overflow: hidden;

          }

          @keyframes typing {
            from {
              width: 0
            }
          }

          @keyframes blink {
            50% {
              border-color: transparent
            }
          }
        }


        input {
          position: absolute;
          height: 100%;
          background: inherit;
          border: 0;
          color: #fff;
          /* max- */
          width: 100%;
          box-sizing: border-box;
          outline: 0;
          font-weight: 400;
          @include transition (all 0.2s);

          &:hover,
          &:focus {
            background: rgba(255, 255, 255, 0.4);
          }
        }

        .search_button {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: url(../images/SVG/search.svg) no-repeat 100% / contain;
          }
        }
      }

      .nav_utility_search a:hover,
      .nav_utility_search a:focus {
        color: #f0c2c9;

      }

      .btn_close {
        position: absolute;
        top: 0;
        background: #b20000 url(../images/SVG/close.svg) no-repeat 50% / cover;
        @include transition (all 0.2s);

        &:hover,
        &:focus {
          background-color: #720000;
        }
      }
    }
  }
}

.menu {
  color: #fff;

  .menu_open,
  .menu_close {
    background: #b20000;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #fff;
    text-align: center;
    @include transition (all 0.3s);

    &:hover,
    &:focus {
      background: #720000;
    }
  }
}

.menuTop {

  .sub_menu {
    ul {
      display: flex;
      justify-content: space-between;

      li {

        a {
          display: block;
          font-family: 'Raleway', sans-serif;
          font-weight: 800;
          text-align: center;
          text-transform: uppercase;

        }
      }
    }
  }
}

.search .search_slide_out,
.menu .menu_slide_out {
  display: none;
}

.search.on .search_slide_out,
.menu.on .menu_slide_out {

  z-index: 21;
  color: #fff;
}



.apply_to {
  display: block;
  letter-spacing: 1px;
  border: 1px solid rgb(255, 255, 255);
  font: italic 16px/27px "Raleway", sans-serif;
  font-weight: 600;

}



.menu_slide_out {

  a:hover,
  a:focus {
    color: #f0c2c9;
    border-color: #ffdbe1;
  }

  svg:hover .cls-1,
  svg:focus .cls-1 {
    fill: #f0c2c9;
  }
}

.main_menu {
  position: relative;

  >ul {
    >li {
      >a {
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        color: #fff;
      }

      >a::after {
        content: '';
        position: absolute;
        transition: transform .5s ease;
        left: 0;
        bottom: 6px;
        width: 100%;
        height: 1px;
        background: #ffffff99;
        transform: translateX(-100%);
      }

      >a:hover::after {
        transform: translateX(0);
      }
    }

    ul {
      position: absolute;
      top: 0;
      left: 100%;
      //transform: translate3d(90%, 0, 0);
      //transition: 0.75s ease, opacity 0.3s;

      li {

        a {
          display: block;
          font-weight: 600;

        }

        a:hover {}
      }
    }
  }
}


.sticky {
  border-radius: 5% 0 0 5%;
  background: $wine;
  overflow: hidden;

  li {
    a {
      box-sizing: border-box;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      display: block;
      display: flex;
      color: #fff;
      @include transition (all 0.3s);

      &:hover,
      &:focus {
        background: $wine-hover;
      }

      overflow: hidden;
    }

    span {
      display: block;
    }
  }
}


.fullVdo {
  font-family: $mini;
  color: #fff;
  .arrow {
    @include transition (all 0.25s);

    &::after {
      content: "";
      position: absolute;
      display: block;
      border-radius: 50%;
      width: 33px;
      height: 33px;
      background: #b20000 url(../images/SVG/full.svg) no-repeat 100% / cover;
      right: -20px;
      top: -16px;
    }
  }

  & a:hover, & a:focus {
    .arrow {
      width: 55px;

    }
  }
}

.videoCtrl {
  width: 48px;
  height: 48px;
  position: relative;
  right: 10px;

  #play-button,
  #pause-button {
    position: absolute;
    width: 2.6875rem;
    height: 2.6875rem;
    border-radius: 50%;
  }

  #play-button {
    background: #1a1b1b url(../images/SVG/play.svg) no-repeat 100% / cover;
    visibility: hidden;
    @include transition(all 0.3s)
  }

  #pause-button {
    background: #1a1b1b url(../images/SVG/pause.svg) no-repeat 100% / cover;
    @include transition(all 0.2s)
  }

  #play-button:hover,
  #pause-button:hover,
  #play-button:focus,
  #pause-button:focus {
    background-color: #444;
  }

}

.explr {
  display: block;
  position: absolute;

  left:0;
  right:0;
  bottom: 60px;
  margin: 0 auto ;

  z-index: 2;

  width: 80px;
  height: 70px;
  background: url(../images/SVG/explr.svg) no-repeat 100% / cover;

  @include transition (all 0.5s);

  span {
    padding: 50px;
    letter-spacing: 2.5px;
    line-height: 15px;
    font: $mini;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase
    
  }

  // @include animation (upNdown 0.5s ease infinite forwards);
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    
  }
