@charset "utf-8";
@import "_var", "_mixin", "_function";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Raleway:300,300i,400,600,600i,800,900&display=swap);

@import url(https://fast.fonts.net/lt/1.css?apiType=css&c=5452a5f2-8cfa-4a36-8a14-6afb8b3de809&fontids=1575150,1575166,1575192);

/* 나중에 common과 합해주세요 */
/* reset */
body, h1, h2, h3, h4, h5, h6, p, ul, button, input,[type="text"] { margin: 0; padding: 0; } 
h1, h2, h3, h4, h5, h6 { font-size: 100%; } 
ul { list-style: none; } 
a:link, a:visited, a:hover, a:active { text-decoration: none; color: inherit; } 
button, input { font-family: inherit; font-size: inherit; color: inherit; } 
button{border: none; cursor: pointer; background: none; }
input[type="text"]{border-radius: 0;}

img { vertical-align: top; max-width: 100%; border: 0;} 
iframe { border: none; } 
address { font-style: normal; } 
header, nav, aside, section, article, footer { display: block; animation: name duration timing-function delay iteration-count direction fill-mode;} 

/* scroll-Bar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  box-shadow: inset 0 0 2px rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width */
/* firefox만 제어가능함. (결과적으로 위에꺼만 넣으면 ie외 모든 브라우저에서 제어 됨.) < jquery에서 가상으로 처리하는 것이 좋겠다. */







/* common */
body {
  font: normal 16px/27px "open-sans", Arial, sans-serif;
  color: #707070;
  word-break: keep-all;
}



.clearfix::after{content: "";display: block;clear: both;}

.blind{
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);}

/* .max1440{width: 100%;max-width: 1440px;margin: 0 auto;} ???? */
/* 반응형 크기 제어  */

.after::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background: $wine;
  z-index: 2;
}

/* title Design 제목*/
.main {
  p{
    font: normal 11px/13px "Raleway", sans-serif;
    letter-spacing: 3px;
    color: #707070;
    font-weight: 800;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  h2 {
    font: normal 11px/13px "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 4rem;
    color: #b20000;
    margin-bottom: 40px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      background: #707070;
      height: 2px;
      width: 40px;
    }
  }
}

.moreBtn {
  @include flex;
  @include flex-direction;
  display: inline-block;
  
  a {
    display: inline-block;
    height: 33px;
    width: 240px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .arrow {
    margin-left: 15px;
    margin-bottom: 5px;
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #b20000;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
    }
  }
}

